body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    padding-bottom: 50px;
}

html {
    height: 100%;
    margin: 0;
}


footer {
    background: rgb(33, 58, 87, 1);
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

.palabra-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.palabra {
    font-size: 24px;
    margin-bottom: 10px;
}
.resultado {
    font-size: 20px;
    color: red;
}
.correcto {
    color: green;
}

header {
    background: rgba(33, 58, 87, 0.4); 
    padding: 20px;
    margin: 2%;
    border-radius: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
}

header div div {
    text-align: right;
    padding: 15px;
    color: #80ed99;
    font-weight:bold;
    font-size: 18px;
    display: inline-block;
    background: linear-gradient(45deg, 
        #213a57, 
        #0b6477
    );
    text-decoration:underline #0ad1c8 2px;
    border-radius: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
}


header h1 {
    padding-bottom: 20px;
    text-shadow: 
                1px 1px 0 #80ed99, /* Sombra derecha */
                -1px -1px 0 #0ad1c8, /* Sombra izquierda */
                1px -1px 0 #45dfb1, /* Sombra superior */
                -1px 1px 0 #14919b; /* Sombra inferior */
    color: #213a57;
}

header h3 {
    padding-bottom: 15px;
    color: #80ed99;
    text-shadow: 2px 2px 0 #213a57;
}